<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>isamrs</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <description></description>
    <display-name>Authorization Filter</display-name>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>servlet.AuthorizationFilter</filter-class>
    <init-param>
      <param-name>login-page</param-name>
      <param-value>/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>home-page</param-name>
      <param-value>/home.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  
</web-app>